@import "./variables.css";
@import "./index.css";

.contact-banner {
  background: url('/src/assets/imgs-contactPage/contactBanner.jpg') no-repeat center center;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  color: white;
  text-align: center;
}

.contact-banner h1{
    font-weight: bold;
    font-size: 50px;
    padding: 50px;
}

.contact-container{
    margin: 20px;
}

.container-section{
    text-align: center;
    height: auto;
    padding: 20px;
    gap: 30px;
}

.container-card{
   padding: 0px 50px;
}

.container-card i{
    font-size: 50px;
    color: var(--primaria);
}

.contact-container .highlighted{
    font-weight: bold;
    color: var(--primaria);
}


.contact-form{
    background-color: var(--container);
    border: 3px solid;
    border-color: var(--borda);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    text-align: left;
    font-weight: bold;
}

.contact-form textarea{
    height:150px;
}

.contact-form .btn{
    margin-top: 10px;
    font-weight: bold;
    padding: 2px 50px;
}