@import "./reset.css";
@import "./variables.css";

body {
  font-family: Arial, sans-serif;
  background-color: var(--fundo);
  color: var(--texto);
  line-height: 1.6;
}

.title {
  font-size: clamp(29px, 2.5vw, 32px);
  font-family: var(--ff-title);
  font-weight: 900;
}
.subtitle {
  font-size: clamp(23px, 2vw, 25px);
  font-family: var(--ff-subtitle);
  font-weight: 700;
}
.link {
  font-size: 14px;
  font-family: var(--ff-link);
  font-weight: 600;
}
.text {
  font-size: 13px;
  font-family: var(--ff-text);
}

.logotipo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--texto);
  h1 {
    font-size: clamp(25px, 2vw, 28px);
    font-family: var(--ff-title);
    font-weight: 700;
    margin: 0;
  }
  & img {
    width: 55px;
    height: auto;
    aspect-ratio: 1/1;
  }
}

/* header */
#header {
  background-color: var(--container);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--borda);

  & .navbar {
    width: 100%;
    max-width: var(--alinhamento);
    & .nav-item {
      color: var(--texto);
      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        color: var(--primaria);
      }
    }
    & .nav-icon {
      font-size: 25px;
      margin-right: 5px;
      vertical-align: middle;
      color: var(--texto);
    }
  }
}

#footer {
  background-color: var(--container);
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--borda);
  margin-top: 40px;
  & .content {
    max-width: var(--alinhamento);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  & .link {
    color: var(--texto);
    opacity: 0.6;
    margin: 0;
  }
}

.btn-primary {
  background: var(--primaria);
  border: 1px solid var(--borda);
  color: var(--secundaria);
  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    background: var(--secundaria) !important;
    color: var(--fundo) !important;
    border-color: var(--borda) !important;
  }
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.carrinho-icon {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}

.carrinho-icon:hover {
  color: var(--secundaria);
}

.card-text {
  font-size: 13px;
  font-family: var(--ff-text);
  color: var(--secundaria);
}

#carouselHome {
  max-width: var(--alinhamento);
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--borda);
}

.container{
  max-width: var(--alinhamento);
  margin: 0 auto;
  padding: 0 15px;
}